.timeline-section{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $secondary;
    }
}
.timeline-pointer{
    position: relative;
    display: flex;
    justify-content: center;
    &::after{
        content: "";
        position: absolute;
        left: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: translate(-50%, -30%);
    }
    &-solid::after{
        background-color: $secondary;
    }
    &-hollow::after{
        border: 1px solid $secondary;
        background-color: $white;
    }
}
